# Скомпилированный код
__pycache__/
*.py[cod]

# Расширения C
*.so

# Файлы, требуемые для компиляции и дистрибуции
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Файлы журнала
*.log
pip-log.txt
pip-delete-this-directory.txt

# Файлы баз данных
*.db

# Переменные окружения
.env
.venv

# Файл с настройками
config.json